{% extends "base.html" %}
{% block content %}
        <form method="post" action="{% url "car_creation_submit" %}">{% csrf_token %}
        Make <input  type="text" name="make"/> <br>
        Model <input  type="text" name="model"/> <br>
        Year <input  type="number" name="year"/> <br>
        Color <input  type="text" name="color"/> <br>
        Description <input  type="text" name="description"/> <br>
        Mileage <input  type="number" name="mileage"/> <br>
        MPG <input  type="number" name="mpg"/> <br>
        Displacement<input  type="number" name="displacement"/> <br>
        Family <input  type="text" name="family"/> <br>
        Horsepower<input  type="number" name="horsepower"/> <br>
        RPM <input  type="number" name="rpm"/> <br>
        Transmission Type <input  type="text" name="transmission_type"/> <br>
        Transmission Speed <input type="number" name="speed"/>
        <input type="submit" value="Create"/><br>
        </form>
{% endblock %}